# SPDX-License-Identifier: GPL-2.0+
#
#Copyright (c) 2021-25 Axiado Corporation (or its affiliates).
#

if TARGET_AX3000_EVK

config SYS_BOARD
	string
	default "dcm3003"

config SYS_VENDOR
	string
	default "axiado"

config SYS_CONFIG_NAME
	string
	default "ax3000-evk"

config SYS_INIT_SP_BSS_OFFSET
	default 524288

config AXIADO_VERIFY_FIT
	bool "Support for Axiado FIT verification"
	default y

config AXIADO_FAILOVER
	bool "Support for Axiado failover mechanism"
	default y

endif
