
# Custom Configuration file specific for Axiado ax3000 SOC
#Copyright (c) 2021-22 Axiado Corporation (or its affiliates). All rights reserved.
#Use, modification and redistribution of this file is subject to your possession
#of a valid End User License Agreement (EULA) for the Axiado Product of which
#these sources are part of and your compliance with all applicable terms and
#conditions of such licence agreement.

CONFIG_ARM=y
CONFIG_ARM64=y
CONFIG_ARMV8_SET_SMPEN=y
CONFIG_ARMV8_MULTIENTRY=y
CONFIG_ARMV8_SPIN_TABLE=y
CONFIG_SYS_ARCH="arm"
CONFIG_SYS_CPU="armv8"
CONFIG_POSITION_INDEPENDENT=y

CONFIG_SYS_ARCH_TIMER=y

# CONFIG_SYS_L2CACHE_OFF=y

CONFIG_ENV_SIZE=0x10000
CONFIG_ENV_OFFSET=0x5000

CONFIG_SYS_TEXT_BASE=0x3C000000
CONFIG_NR_DRAM_BANKS=4
CONFIG_SYS_MALLOC_LEN=0x20000
CONFIG_SYS_MALLOC_F_LEN=0x8000
# CONFIG_SYS_MEMTEST_START=0x00000000
# CONFIG_SYS_MEMTEST_END=0x00001000

CONFIG_SYS_LOAD_ADDR=0x3D000000

CONFIG_SYS_BOOT_RAMDISK_HIGH=y

# CONFIG_SYS_ICACHE_OFF=y
# CONFIG_SYS_DCACHE_OFF=y
CONFIG_PLATFORM_ELFENTRY="_start"
CONFIG_FIT=y
CONFIG_DM=y

CONFIG_GICV3=y
CONFIG_GIC_V3_ITS=y

CONFIG_SYS_PROMPT="U-Boot> "
#CONFIG_USE_BOOTARGS=y
#CONFIG_BOOTARGS="console=ttyPS0,9600 earlyprintk maxcpus=1 earlycon root=/dev/ram0 init=/init rw rootfstype=tmpfs debug"

CONFIG_GZIP=y

CONFIG_CMD_FRU=y
CONFIG_USE_PREBOOT=y
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_CMD_MEMTEST=y
CONFIG_SYS_ALT_MEMTEST=y
CONFIG_CMD_CLK=y
CONFIG_CMD_DFU=y
CONFIG_CMD_MTD=y
CONFIG_CMD_SF_TEST=y
CONFIG_CMD_SPI=n
CONFIG_CMD_TFTPPUT=y
CONFIG_CMD_BMP=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_REGULATOR=y
CONFIG_CMD_TPM=y

CONFIG_USE_ARCH_MEMSET=y
CONFIG_TINY_MEMSET=y

CONFIG_OF_LIST="ax3000-evk"
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_MULTI_DTB_FIT=y
CONFIG_DEFAULT_DEVICE_TREE="ax3000-evk"
CONFIG_DEFAULT_FDT_FILE="ax3000-evk.dtb"
CONFIG_SYS_CUSTOM_LDSCRIPT=y
CONFIG_SYS_LDSCRIPT="arch/arm/cpu/armv8/u-boot.lds"

CONFIG_ARMV8_NONSEC=y

CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_CMD_EXPORTENV=y
CONFIG_CMD_IMPORTENV=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_ENV_EXISTS=y
CONFIG_ENV_SUPPORT=y
CONFIG_ENV_IS_IN_MMC=y

CONFIG_DM_SERIAL=y
CONFIG_DM_STDIO=y
CONFIG_BAUDRATE=115200
CONFIG_REQUIRE_SERIAL_CONSOLE=y
CONFIG_SERIAL_PRESENT=y
CONFIG_ZYNQ_SERIAL=y

# CONFIG_DEBUG=y
# CONFIG_DEBUG_UART=y
# CONFIG_DEBUG_UART_BASE=0x80520800
# CONFIG_DEBUG_UART_CLOCK=1250000
# CONFIG_DEBUG_UART_ANNOUNCE=y

CONFIG_DISPLAY=y

#CONFIG_AUTOBOOT=y
#CONFIG_BOOTDELAY=1
#CONFIG_USE_BOOTCOMMAND=y
#CONFIG_BOOTCOMMAND="run distro_bootcmd"

# CONFIG_SYS_RELOC_GD_ENV_ADDR=y

# CONFIG_DM_I2C=y
# CONFIG_SYS_I2C_CADENCE=y
# CONFIG_XILINX_UARTLITE=y


CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_PROMPT="Press \"<Esc><Esc>\" to stop autobooting in %d seconds\n"
CONFIG_AUTOBOOT_DELAY_STR=""
CONFIG_AUTOBOOT_STOP_STR="\x1b\x1b"

#CONFIG_ZYNQ_SDHCI_MAX_FREQ=200000000
#CONFIG_ZYNQ_SDHCI_MIN_FREQ=400000

#CONFIG_CMD_RANDOM=y
CONFIG_CMD_DM=y
CONFIG_CMD_GPT=y
CONFIG_RANDOM_UUID=y
CONFIG_CMD_GPT_RENAME=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PART=y
CONFIG_CMD_BLOCK_CACHE=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_HUSH_PARSER=y
#CONFIG_COMPRESSED_KERNEL_SUPPORT=y

#CONFIG_EFI_PARTITION=y
#CONFIG_EFI_PARTITION_ENTRIES_NUMBERS=128
#CONFIG_EFI_PARTITION_ENTRIES_OFF=0
CONFIG_PARTITION_UUIDS=y
#CONFIG_DM_DEBUG=y
CONFIG_REGMAP=y

CONFIG_BLK=y
CONFIG_BLOCK_CACHE=y
CONFIG_MMC_WRITE=y

CONFIG_DM_MMC=y
CONFIG_MMC_QUIRKS=y
CONFIG_MMC_HW_PARTITIONING=y
CONFIG_SUPPORT_EMMC_BOOT=y

CONFIG_MMC_IO_VOLTAGE=y
CONFIG_MMC_UHS_SUPPORT=y
CONFIG_MMC_HS400_SUPPORT=y
CONFIG_MMC_HS200_SUPPORT=y
#CONFIG_MMC_VERBOSE=y
#CONFIG_MMC_TRACE=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_SDMA=y
CONFIG_MMC_SDHCI_AXIADO=y
CONFIG_PHY=y
CONFIG_PHY_AXIADO_EMMC=y
CONFIG_FS_EXT4=y
CONFIG_EXT4_WRITE=y
CONFIG_FS_FAT=y
CONFIG_FS_FAT_MAX_CLUSTSIZE=65536
CONFIG_LIB_RAND=y
CONFIG_TARGET_AX3000_EVK=y
